{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid h-100">
    <div class="row h-25">
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col">
        </div>
        <div class="col">
            <div class="jumbotron p-2 align-middle rounded-pill">
                <h1 class="text-light bg-black text-center my-4 mx-2 text-uppercase rounded-pill">
                    strictly<br>sci-fi
                </h>
            </div>
        </div>
        <div class="col">
        </div>
    </div>
    <div class="row">
        <div class="col">
        </div>
        <div class="col align-self-center ">
            <h4 class="text-center">
                <a href="{% url 'books' %}" class="shop-now-button btn btn-lg rounded-pill text-uppercase py-3">
                    Shop Now
                </a>
            </h4>
        </div>
        <div class="col">
        </div>
    </div>
</div>
{% endblock%}