{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="header-container bg-black text-light">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay mb-sm-5"></div>
<div class="container-fluid bg-black text-light">
    <div class="row">
        <div class="col text-center align-middle mt-5">
            <h2 class="logo-font">{{ author.friendly_name }}</h2>
            <h2 class="w-50 mt-1 mb-2"></h2>
        </div>
    </div>
    <div class="row bg-black text-light">
        <div class="product-container col-10 offset-1 mt-5">
            <div class="row mt-1 mb-2"></div>
                <div class="row mb-5">
                    <div class="card w-100">
                        <div class="card-header bg-black border-black">
                            <h5 class="mb-0">{{ author.friendly_name }}</h5>
                            <p class="card-text">{{ author.bio | safe }}</p>
                        </div>
                    </div>
                </div>
                <div class="row mt-1 mb-2"">
                    {% for book in author_books %}
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="card-img-top border-0">
                                {% if book.image %}
                                    <a href="{% url 'book_detail' book.id %}">
                                        <img src="{{ book.image.url }}" alt="{{ book.title }} cover" class="card-img-top img-fluid">
                                    </a>
                                {% else %}
                                    <a href="{% url 'book_detail' book.id %}">
                                        <img src="{{ MEDIA_URL }}noimage.png" alt="{{ book.title }} missing book cover" class="card-img-top img-fluid">
                                    </a>
                                {% endif %}
                                {% if request.user.is_superuser %}
                                    <div class="btn-group d-flex justify-content-center" role="group">
                                        <button type="button" class="btn btn-warning btn-sm">
                                            <a href="{% url 'edit_book' book.id %}" class="text-dark"><strong>Edit</strong></a>
                                        </button>
                                        <button type="button" class="btn btn-danger btn-sm">
                                            <a href="{% url 'delete_book' book.id %}" class="text-white">Delete</a>
                                        </button>
                                    </div>
                                {% endif %}
                                <div class="card-body pb-0">
                                    <a href="{% url 'book_detail' book.id %}">
                                        <p class="mb-0 text-white">{{ book.title }}</p>
                                    </a>
                                </div>
                                <div class="card-body pt-0 pb-1">
                                    <p class="small">by 
                                        <a href="{% url 'author_detail' book.author.id %}" class="text-light">{{ book.author.friendly_name }}</a>
                                    </p>
                                </div>

                                <div class="card-footer pt-0 border-0 text-left">
                                    <div class="row">
                                        <div class="col">
                                            <p class="lead mb-0 text-left font-weight bold">€{{ book.price }}</p>
                                            {% if book.rating %}
                                                <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ book.rating }} / 5</small>
                                            {% else %}
                                                <small class="text-muted">No Rating</small>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        

                        <!-- renders hr only in extra small screens with 1 column-->
                        {% if forloop.counter|divisibleby:1 %}
                            <div class="col-12 d-sm-none mb-5">
                                <hr class="border-light">
                            </div>
                        {% endif %}

                        <!-- renders hr only in small or medium screens with 2 columns-->
                        {% if forloop.counter|divisibleby:2 %}
                            <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                                <hr class="border-light">
                            </div>
                        {% endif %}

                        <!-- renders hr only in large screens with 3 columns -->
                        {% if forloop.counter|divisibleby:3 %}
                            <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                                <hr class="border-light">
                            </div>
                        {% endif %}

                        <!-- renders hr only in large screens with 4 columns -->
                        {% if forloop.counter|divisibleby:4 %}
                            <div class="col-12 d-none d-xl-block mb-5">
                                <hr class="border-light">
                            </div>
                        {% endif %}

                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock%}