{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<p class="mb-0">{{ award.friendly_name }}</p>
<p class="lead mb-0 text-left font-weight-bold">{{ award.description }}</p>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <p class="mb-0">{{ award.friendly_name }}</p>
            <p class="lead mb-0 text-left font-weight-bold">{{ award.description }}</p>
            {% for book in award.books.all %}
            <a href="{% url 'book_detail' book.id %}">
                <p>{{ book.title }}</p>
            </a>
            {% endfor %}
        </div>
    </div>
</div>
{% for year in award_years %}
    <h1>{{ year }}</h1>
{% endfor %}
<div class="container-fluid">
    {% for award_detail in award_details %}
        <p>Award detail ID: {{ award_detail.id }}</p>
        <p>{{ award_detail.award_year }}</p>
        <p>
            <a href="{% url 'book_detail' award_detail.book.id %}"> {{ award_detail.book }}</a>
        </p>
        <p>
            <a href="{% url 'author_detail' award_detail.book.author.id %}">{{ award_detail.book.author.friendly_name }}</a>
        </p>
        <p>{{ award_detail.category }}</p>

        {% if request.user.is_superuser %}
            <div class="btn-group d-flex justify-content-center" role="group">
                <button type="button" class="mr-2 btn btn-warning btn-sm">
                    <a href="{% url 'edit_award_detail' award_detail.id %}" class="text-dark"><strong>Edit</strong></a>
                </button>
                {% comment %} <button type="button" class="ml-2 btn btn-danger btn-sm">
                    <a href="{% url 'delete_award_detail' award_detail.id %}">Delete</a>
                </button> {% endcomment %}
            </div>
        {% endif %}
    {% endfor %}
</div>
<a href="{{request.META.HTTP_REFERER|escape}}">Back</a>
{% endblock%}

